<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lksynthesizeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoAction">
        <activity
            android:name=".test.TestActivity"
            android:exported="false" />
        <activity
            android:name=".Constant.activity.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".Constant.activity.DefinedActivity" />
        <activity android:name=".Constant.activity.SendSelectActivity" />
        <activity
            android:name=".ChiFen.Activity.LocalActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChiFen.Activity.PhotoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChiFen.Activity.SeeImageOrVideoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChiFen.Activity.VideoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
    </application>

</manifest>